# Python stuff
*.pyc
__pycache__

# Mac stuff
*.DS_Store

# Pip stuff
motion_blur.egg-info

# Vim stuff
*.swp

# Datasets stuff
datasets

# Mlflow
mlruns

# Training
training_results

# Tests output
tests/test_data/tmp/
